<h1>Taxi Demand Prediction</h1>

http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml

<h3> DATA DICTIONARY </h3>
<table>
<th>Field Name <th>Description
<tr> <td>VendorID <td>A code indicating the TPEP provider that provided the record.
1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.
<tr>
<td>tpep_pickup_datetime <td> The date and time when the meter was engaged.
<tr>
<td>tpep_dropoff_datetime <td>The date and time when the meter was disengaged.
<tr>
<td>Passenger_count <td>The number of passengers in the vehicle.
This is a driver-entered value.
<tr>
<td>Trip_distance <td>The elapsed trip distance in miles reported by the taximeter.
<tr>
<td>PULocationID <td>TLC Taxi Zone in which the taximeter was engaged
<tr><td>DOLocationID <td>TLC Taxi Zone in which the taximeter was disengaged
<tr><td>RateCodeID <td>The final rate code in effect at the end of the trip.
1= Standard rate
2=JFK
3=Newark
4=Nassau or Westchester
5=Negotiated fare
6=Group ride
<tr>
<td>Store_and_fwd_flag <td>This flag indicates whether the trip record was held in vehicle
memory before sending to the vendor, aka “store and forward,”
because the vehicle did not have a connection to the server.
Y= store and forward trip
N= not a store and forward trip
<tr>
<td>Payment_type <td>A numeric code signifying how the passenger paid for the trip.
1= Credit card
2= Cash
3= No charge
4= Dispute
5= Unknown
6= Voided trip
<tr><td>
Fare_amount <td>The time-and-distance fare calculated by the meter.
<tr><td>
Extra <td>Miscellaneous extras and surcharges. Currently, this only includes
the $0.50 and $1 rush hour and overnight charges.
<tr><td>
MTA_tax <td>$0.50 MTA tax that is automatically triggered based on the metered
rate in use.
<tr><td>
Improvement_surcharge <td>$0.30 improvement surcharge assessed trips at the flag drop. The
improvement surcharge began being levied in 2015.
<tr><td>
Tip_amount <td>Tip amount – This field is automatically populated for credit card
tips. Cash tips are not included.
<tr><td>
Tolls_amount <td>Total amount of all tolls paid in trip.
<tr><td>
Total_amount <td>The total amount charged to passengers. Does not include cash tips.
<tr><td>
Congestion_Surcharge <td>Total amount collected in trip for NYS congestion surcharge.
<tr><td>
Airport_fee <td>$1.25 for pick up only at LaGuardia and John F. Kennedy Airports
</table>

In [290]:
import pandas as pd

In [291]:
%pip install pyarrow
%pip install fastparquet

Requirement already satisfied: pyarrow in c:\users\garimaji\appdata\local\programs\python\python310\lib\site-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\garimaji\appdata\local\programs\python\python310\lib\site-packages (from pyarrow) (1.23.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: fastparquet in c:\users\garimaji\appdata\local\programs\python\python310\lib\site-packages (0.8.3)
Requirement already satisfied: pandas>=1.1.0 in c:\users\garimaji\appdata\local\programs\python\python310\lib\site-packages (from fastparquet) (1.4.4)
Requirement already satisfied: numpy>=1.18 in c:\users\garimaji\appdata\local\programs\python\python310\lib\site-packages (from fastparquet) (1.23.3)
Requirement already satisfied: fsspec in c:\users\garimaji\appdata\local\programs\python\python310\lib\site-packages (from fastparquet) (2022.8.2)
Requirement already satisfied: packaging in c:\users\garimaji\appdata\roaming\python\python310\site-packages (from fastparquet) (21.3)
Requirement already satisfied: cramjam>=2.3.0 in c:\users\garimaji\appdata\local\programs\python\python310\lib\site-packages (from fastparquet) (2.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\garimaji\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\garimaji\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.1.0->fastparquet) (2022.2.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\garimaji\appdata\roaming\python\python310\site-packages (from packaging->fastparquet) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\garimaji\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1.0->fastparquet) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [292]:
df = pd.read_parquet("C:/Users/GarimaJi/Downloads/yellow_tripdata_2022-01.parquet")

In [293]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

**Columns with Null Values** : 
    <ol>
    
        passenger_count

        RatecodeID

        store_and_fwd_flag

        congestion_surcharge

        airport_fee

In [294]:
df.loc[df['VendorID'].isnull()]

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

<h3>Handling Null Values of Airport_fee and Congestion Surcharge </h3>

Airport Fee : All NaN values replaced by zero

Congestion Surcharge : All NaN values replaced by
$$
Total amount -(fare amount+extra+mta tax+tip amount+tolls amount+improvement surcharge)
$$

In [295]:
df['airport_fee']= df['airport_fee'].fillna(0)
df.loc[df['airport_fee'].isnull()]

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [296]:
df['congestion_surcharge']= df['congestion_surcharge'].fillna(df['total_amount']-(df['fare_amount']+df['extra']+df['mta_tax']+df['tip_amount']+df['tolls_amount']+df['improvement_surcharge']))
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,2.5,0.0
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,2.5,0.0
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,2.5,0.0
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,2.5,0.0
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,2.5,0.0

In [297]:
df=df.drop('store_and_fwd_flag',axis=1)

In [298]:
df.loc[df['passenger_count'].isnull()]
df.iloc[[2395142]]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
2395142,2,2022-01-02 15:41:00,2022-01-02 15:42:00,NaN,0.01,NaN,140,140,0,48.61,0.0,0.5,0.0,0.0,0.3,51.91,2.5,0.0

In [299]:
import numpy as np
average=df['total_amount']/df['trip_distance']

In [300]:
mean=np.mean(average[np.isfinite(average)])
mean

11.198534962613284

In [301]:
from numpy.core.umath import ceil

df. loc[df['passenger_count'].isnull() & df['trip_distance']==0,'passenger_count']=0

df.loc[df['passenger_count'].isnull()]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
2392428,2,2022-01-01 00:50:00,2022-01-01 00:54:00,NaN,1.00,NaN,68,246,0,13.20,0.0,0.5,1.75,0.0,0.3,18.25,2.5,0.0
2392429,2,2022-01-01 00:49:24,2022-01-01 01:27:36,NaN,13.31,NaN,257,223,0,44.87,0.0,0.5,10.05,0.0,0.3,55.72,0.0,0.0
2392430,2,2022-01-01 00:42:00,2022-01-01 00:56:00,NaN,2.87,NaN,143,236,0,13.23,0.0,0.5,3.51,0.0,0.3,20.04,2.5,0.0
2392431,2,2022-01-01 00:40:00,2022-01-01 00:55:00,NaN,3.24,NaN,143,262,0,14.19,0.0,0.5,3.72,0.0,0.3,21.21,2.5,0.0
2392432,2,2022-01-01 00:40:00,2022-01-01 00:52:00,NaN,2.19,NaN,239,166,0,13.20,0.0,0.5,5.25,0.0,0.3,21.75,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,2.5,0.0
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,2.5,0.0
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,2.5,0.0
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,2.5,0.0
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,2.5,0.0

In [302]:
df. loc[df['passenger_count'].isnull(),'passenger_count']=ceil(df['total_amount']/(mean*df['trip_distance']))

df.loc[df['passenger_count'].isnull()]

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [303]:
df.loc[df['passenger_count'].isnull()]
df.loc[df['passenger_count']== 0.0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,0.0,3.80,1.0,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,0.0,2.10,1.0,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,0.0,0.97,1.0,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,0.0,1.09,1.0,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,0.0,4.30,1.0,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463840,2,2022-01-31 22:59:00,2022-01-31 22:59:08,0.0,0.00,NaN,48,48,0,8.10,0.0,0.5,2.00,0.0,0.3,13.40,2.5,0.0
2463869,1,2022-01-31 23:38:03,2022-01-31 23:57:57,0.0,0.00,NaN,238,136,0,24.20,0.5,0.5,4.20,0.0,0.3,34.20,4.5,0.0
2463872,2,2022-01-31 23:57:46,2022-02-01 00:06:05,0.0,0.00,NaN,234,161,0,9.92,0.0,0.5,4.23,0.0,0.3,17.45,2.5,0.0
2463873,2,2022-01-31 23:38:02,2022-01-31 23:49:32,0.0,0.00,NaN,68,170,0,10.18,0.0,0.5,1.00,0.0,0.3,14.48,2.5,0.0
2463916,1,2022-01-31 23:15:54,2022-01-31 23:33:39,0.0,0.00,NaN,246,88,0,15.20,0.5,0.5,3.80,0.0,0.3,24.80,4.5,0.0

In [304]:
df['passenger_count']= df['passenger_count'].fillna(0)
df.loc[df['passenger_count'].isnull()]

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [305]:
df. loc[df['passenger_count']>8,'passenger_count']=8

In [306]:
df.loc[df['passenger_count']==max(df['passenger_count'])]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
2392459,6,2022-01-01 00:01:45,2022-01-01 00:01:48,8.0,0.15,NaN,265,129,0,15.20,0.0,0.5,0.00,0.0,0.3,16.00,0.0,0.0
2392466,2,2022-01-01 00:44:47,2022-01-01 00:44:59,8.0,0.08,NaN,239,239,0,13.20,0.0,0.5,3.50,0.0,0.3,20.00,2.5,0.0
2392610,2,2022-01-01 01:57:00,2022-01-01 01:58:32,8.0,0.10,NaN,256,256,0,13.20,0.0,0.5,3.00,0.0,0.3,17.00,0.0,0.0
2392710,2,2022-01-01 01:36:00,2022-01-01 01:39:00,8.0,0.29,NaN,249,249,0,20.18,0.0,0.5,2.00,0.0,0.3,25.48,2.5,0.0
2392737,2,2022-01-01 01:01:00,2022-01-01 01:29:00,8.0,0.02,NaN,90,90,0,13.70,0.0,0.5,3.15,0.0,0.3,20.15,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2462400,2,2022-01-31 15:21:00,2022-01-31 15:26:00,8.0,0.49,NaN,107,234,0,39.16,0.0,0.5,10.64,0.0,0.3,53.10,2.5,0.0
2462866,2,2022-01-31 17:16:13,2022-01-31 17:16:42,8.0,0.11,NaN,234,234,0,8.69,0.0,0.5,1.91,0.0,0.3,13.90,2.5,0.0
2462975,2,2022-01-31 18:36:02,2022-01-31 18:39:44,8.0,0.28,NaN,263,262,0,21.54,0.0,0.5,6.72,0.0,0.3,31.56,2.5,0.0
2463461,2,2022-01-31 19:31:49,2022-01-31 19:32:07,8.0,0.04,NaN,237,237,0,7.70,0.0,0.5,2.33,0.0,0.3,13.33,2.5,0.0
2463839,2,2022-01-31 22:28:20,2022-01-31 22:29:29,8.0,0.17,NaN,97,97,0,21.26,0.0,0.5,5.35,0.0,0.3,27.41,0.0,0.0

In [307]:
df.loc[df['RatecodeID']==max(df['RatecodeID'])]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
3587,1,2022-01-01 00:10:40,2022-01-01 00:56:08,0.0,0.0,99.0,49,136,1,52.2,0.0,0.5,0.0,6.55,0.3,59.55,0.0,0.0
8172,1,2022-01-01 01:11:42,2022-01-01 01:34:48,0.0,4.2,99.0,254,69,1,23.2,0.0,0.5,0.0,0.00,0.3,24.00,0.0,0.0
8173,1,2022-01-01 01:49:58,2022-01-01 02:12:27,0.0,5.1,99.0,213,41,1,23.2,0.0,0.5,0.0,0.00,0.3,24.00,0.0,0.0
8523,1,2022-01-01 01:02:36,2022-01-01 01:36:11,0.0,0.0,99.0,77,127,1,53.2,0.0,0.5,0.0,6.55,0.3,60.55,0.0,0.0
8524,1,2022-01-01 01:53:03,2022-01-01 02:06:10,0.0,1.6,99.0,74,238,1,15.2,0.0,0.5,0.0,0.00,0.3,16.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2386991,1,2022-01-31 21:24:42,2022-01-31 21:59:39,0.0,16.6,99.0,222,65,1,55.2,0.0,0.5,0.0,0.00,0.3,56.00,0.0,0.0
2389700,1,2022-01-31 22:17:46,2022-01-31 22:54:00,0.0,0.0,99.0,153,202,1,31.2,0.0,0.5,0.0,0.00,0.3,32.00,0.0,0.0
2390925,1,2022-01-31 23:29:09,2022-02-01 00:13:12,0.0,0.0,99.0,90,23,1,53.2,0.0,0.5,0.0,19.65,0.3,73.65,0.0,0.0
2391807,1,2022-01-31 23:12:04,2022-02-01 00:17:44,0.0,8.6,99.0,48,20,1,35.2,0.0,0.5,0.0,0.00,0.3,36.00,0.0,0.0
2392304,1,2022-01-31 23:02:06,2022-01-31 23:55:09,0.0,7.4,99.0,226,42,1,32.2,0.0,0.5,0.0,0.00,0.3,33.00,0.0,0.0

In [308]:
for i,row in df.iterrows():
    grp = row['RatecodeID']
    if(df.at[i,'RatecodeID']%6==0):
        df.at[i,'RatecodeID']=6
    elif(df.at[i,'RatecodeID']%5==0):
        df.at[i,'RatecodeID']=5
    elif(df.at[i,'RatecodeID']%4==0):
        df.at[i,'RatecodeID']=4
    elif(df.at[i,'RatecodeID']%3==0):
        df.at[i,'RatecodeID']=3
    elif(df.at[i,'RatecodeID']%2==0):
        df.at[i,'RatecodeID']=2
    else:
        df.at[i,'RatecodeID']=1

KeyboardInterrupt: